{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="container">
                        {{ form|crispy }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-info">Signup</button>
                        <small class="text-muted">If you already have an account
                            <a href="{% url 'login' %}" class="ml-2">login</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}